<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if logged_in? %>
    Current user email: <%= current_user.email%>
    <form action="<%= session_url %>"method = "POST">
    <input type ="hidden" name = "_method" value="DELETE">
    <input type ="submit" value = "Log out!">
   <% else %>
    <%= link_to 'Sign in', users_url %>
    </form>

    <%end %>
  <%= flash[:error] %>
    <%= flash[:success] %>
      <%= flash[:notice] %>

    <%= yield %>
     
  </body>
</html>
